* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: $d-font;
  color: $color-dark;
}

.MuiBox-root-7,
.MuiBox-root-19,
.MuiBox-root-13,
.MuiBox-root-11 {
  @include respond(phone) {
    padding: 1rem 0.3rem !important;
  }
}

.makeStyles-root-1 {
  width: 84%;
  @include respond(phone) {
    width: 99% !important;
  }
}

.container {
  @include flex-props;
  flex-direction: column;
  min-height: 100vh;

  form {
    width: 60%;

    @include respond(tab-port) {
      width: 90%;
    }
    @include respond(phone) {
      width: 90%;
    }
  }

  .row {
    width: 100%;
  }
}
