////////////////////////////////////NAV BAR////////////////////////
.nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &__brand {
    width: 20%;

    @include respond(tab-port) {
      width: 50%;
    }
  }

  &__logo {
    width: 100%;
    height: auto;
  }
  &__hamburger {
    margin-left: auto;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    right: 2rem;
    // top: 3rem;
  }
  &__collapse {
    flex: 1;

    @include respond(tab-port) {
      display: none;
    }
  }
  &__list {
    list-style-type: none;
    @include flex-props;
  }
  &__item {
    margin: 0 1rem;
    border-radius: 3rem;
  }
  &__link {
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.8rem;
    color: $color-light;

    &:hover,
    &:active {
    }
  }
}

//////////////////////////////CARD/////////////////////////
.card {
  padding: 1rem 2rem;
  background-color: transparent;
  border: none;
  &__body {
  }
  &__text {
    font-size: 1.7rem;
    line-height: 200%;
    color: $color-light;
    letter-spacing: 0.1rem;
    background-color: transparent;
  }
  &__cta {
    // padding: 1rem 2rem;
    @include flex-props;
    margin-top: 2rem;
  }
  &__button {
    padding: 1rem 1.5rem;
    outline: none;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: none;
    color: $color-dark;
    cursor: pointer;
  }
}

//////////////////////FORM/////////////////////////
.form {
  border-radius: 1rem;
  padding: 1rem;
  background-color: $color-white;
  min-height: 10rem;
  width: 100%;

  @include respond(phone) {
    padding: 1rem 0;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    font-size: 2rem;
    color: $color-dark;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__group {
    padding: 1rem;
    width: 100%;
    @include flex-props;

    @include respond(phone) {
      padding: 1rem 0;
    }
  }
  &__label {
    text-transform: capitalize;
    color: $color-dark;
    font-size: 1.8rem;
    margin: 0 1rem;
    width: 20%;

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }
  &__input {
    color: $color-dark;
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: $d-font;
    border-bottom: 1px solid $color-black;

    &:hover,
    &:active {
      outline: none;
      border: none;
      border-bottom: 1px solid $color-black;
    }
  }
  &__btn {
    cursor: pointer;
    border-radius: 1rem;
    width: 60%;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    outline: none;
    overflow: hidden;
    border: none;
    background-image: linear-gradient(
      112.1deg,
      rgba(32, 38, 57, 1) 11.4%,
      rgba(63, 76, 119, 1) 70.2%
    );
    color: $color-light;
    margin: 1rem;
    transition: all 0.3s;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &:hover,
    &:active {
      box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
      outline: none;
      border: none;
    }
    &:hover {
      transform: translateY(-0.1rem) scale(0.98);
    }
    &:active {
      transform: translateY(0.1rem) scale(1.1);
    }
  }

  &__checkbox {
    cursor: pointer;
    position: relative;
    margin: 0 2rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    transition: all 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3rem;
      height: 3rem;
      background-color: transparent;
      transition: all 0.3s;
      border-radius: 50%;
      border: 0.3rem solid black;

      @include respond(phone) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &::after {
      content: "";
      opacity: 0.1;
      transition: all 0.3s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.5rem;
      height: 1.5rem;
      background-color: black;
      border-radius: 50%;

      @include respond(phone) {
        width: 1rem;
        height: 1rem;
      }
    }

    &:checked {
      &::after {
        opacity: 1;
      }
    }
  }

  &__link {
    width: 100%;
    padding: 1rem 0;
    margin: 0 1.2rem;
    font-size: 1.8rem;
    text-decoration: none;
    transition: all 0.3s;
    color: $color-dark;

    &:hover,
    &:active,
    &:visited {
      color: $color-dark;
      text-decoration: none;
    }
  }
}

///////////////////////HEADING///////////////////////
.heading {
  &__row {
    @include flex-props;
  }
  &__h1 {
    text-transform: capitalize;
    font-size: 3rem;
    padding: 2rem 0;
  }
}
