section {
  min-height: 100vh;
  position: relative;
}
.header {
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
  @include flex-props;

  &__content {
    width: 100%;
    flex: 1;
    @include flex-props;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__left,
  &__right {
    width: 50%;
    @include flex-props;
  }
}
//////////////////////FORM/////////////////////////
.form {
  border-radius: 1rem;
  padding: 1rem;
  background-color: $color-white;
  min-height: 10rem;
  width: 100%;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    font-size: 2rem;
    color: $color-dark;
  }

  &__group {
    padding: 1rem;
    width: 100%;
    @include flex-props;
  }
  &__label {
    text-transform: capitalize;
    color: $color-dark;
    font-size: 1.8rem;
    margin: 0 1rem;
    width: 20%;
  }
  &__input {
    color: $color-dark;
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: $d-font;
    border-bottom: 1px solid $color-black;

    &:hover,
    &:active {
      outline: none;
      border: none;
      border-bottom: 1px solid $color-black;
    }
  }
  &__btn {
    border-radius: 1rem;
    width: 60%;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    outline: none;
    border: none;
    background-image: linear-gradient(
      112.1deg,
      rgba(32, 38, 57, 1) 11.4%,
      rgba(63, 76, 119, 1) 70.2%
    );
    color: $color-light;
  }
}
